@using System.Threading.Tasks
@using Aalstprojecten2_groep4DOTNET.Data.Repositories
@using Microsoft.AspNetCore.Identity
@using Aalstprojecten2_groep4DOTNET.Models
@using Aalstprojecten2_groep4DOTNET.Models.Domein

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IInterneMailJobcoachRepository InterneMailJobcoachRepository
@inject IJobCoachRepository JobCoachRepository
@{
    ApplicationUser user = await UserManager.GetUserAsync(User);
    if (user != null)
    {
        ViewData["gebruikersnaam"] = user.Voornaam + " " + user.Naam;
        ViewData["ongelezen"] = InterneMailJobcoachRepository.GetAantalOngelezen(user.Email);
        ViewData["animaties"] = JobCoachRepository.GetByEmail(user.Email).WilAnimaties ? "Animaties uitzetten" : "Animaties aanzetten";
    }

}

    
        <ul class="nav navbar-nav navbar-right marginRechts">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ViewData["gebruikersnaam"]<span class="glyphicon glyphicon-user pull-right" style="color:#337AB7;"></span>@if ((int)ViewData["ongelezen"] > 0)
                                                                                                                                                               {
                                                                                                                                                                   <span class="glyphicon glyphicon-envelope pull-right" style="color:#337AB7;"></span>
                                                                                                                                                               }</a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="Home" asp-action="ProfielAanpassen" style="padding: 9px;">Profiel wijzigen <span class="glyphicon glyphicon-cog pull-right" style="color:#337AB7;"></span></a></li>
                    <li class="divider" style="margin: 0;"></li>
                    <li><a asp-controller="Home" asp-action="ContacteerAdmin" style="padding: 9px;">Contacteer Bart <span class="glyphicon glyphicon-envelope pull-right" style="color:#337AB7;"></span></a></li>
                    <li class="divider" style="margin: 0;"></li>
                    <li><a asp-controller="Home" asp-action="OverzichtMailbox" style="padding: 9px;">Inbox <span class="badge pull-right"> @ViewData["ongelezen"] </span></a></li>
                    <li class="divider" style="margin: 0;"></li>
                    <li><a asp-controller="Home" asp-action="AnimatiesAanUit" id="animatiesAanUit" style="padding: 9px;">@ViewData["animaties"] <span class="glyphicon glyphicon-flag pull-right" style="color:#337AB7;"></span></a></li>
                    <li class="divider" style="margin: 0;"></li>
                    <li><a asp-controller="Account" asp-action="LogUit" style="padding: 9px;">Log uit<span class="glyphicon glyphicon-log-out pull-right" style="color:#337AB7;"></span></a></li>
                </ul>
            </li>


        </ul>


