@model Aalstprojecten2_groep4DOTNET.Models.ViewModels.Recover.WachtwoordVergetenViewModel

@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Wachtwoord vergeten - Kairos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/WachtwoordVergeten.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/js/DisableKnoppenScript.js"></script>

</head>
<body>
    <div class="row" style="margin-left:0px;margin-right:0px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left:0px; padding-right:0px; opacity: 0.8;">
            <!-- tab style-1 -->
            <div class="row customRij">
                <div class="grid_12 columns achtergrondKleur">
                    <div class="tab style-1">
                        <div class="logo">
                            <img src="~/images/kairosLogo/kairos_icon_black.png" />
                        </div>
                        <h2 class="maakShjtijl">Wachtwoord vergeten</h2>

                        <h4>Geef uw email adres in en wij sturen u een nieuw wachtwoord.</h4>

                        <form asp-controller="Recover" asp-action="Index" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="row">

                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <input asp-for="Email" class="form-control input-lg" placeholder="Email adres" tabindex="1">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <input type="submit" value="Verzend" class="btn btn-primary btn-block btn-lg teDisablenKnop" tabindex="2">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>