@model Aalstprojecten2_groep4DOTNET.Models.AccountViewModels.RegisterViewModel

@{
    Layout = null;
}






<!DOCTYPE HTML>
<html>
<head>
    <title>Login/Register - Kairos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/loginpage.css" />
    <script type="text/javascript" src="~/js/login.js"></script>



</head>
<body>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <!-- tab style-1 -->
            <div class="row customRij linkerKant">
                <div class="grid_12 columns">
                    <div class="tab style-1">
                        <dl>
                            <dd class="users"><a class="user active" href="#tab1"> Aanmelden</a></dd>
                            <dd class="messages"><a class="msg" href="#tab2"> Registreren</a></dd>
                        </dl>
                        <ul>
                            <li class="active">
                                @*<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">*@
                                <form asp-controller="Home" asp-action="Index" method="post">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3"></div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 prentje">
                                            <img src="~/images/login/login foto.png" alt="WHeeeeeeee">
                                        </div>
                                    </div>
                                    <div class="form">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-3"></div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="email" name="Email adres" id="Email adres" class="form-control input-lg" placeholder="Email adres" tabindex="1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 col-md-3"></div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="password" name="Wachtwoord" id="Wachtwoord" class="form-control input-lg" placeholder="Wachtwoord" tabindex="2">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-3 col-md-3"></div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="prentje">
                                                    <input type="checkbox" /> Wachtwoord onthouden
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 col-md-3"></div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="prentje">
                                                    <a asp-action="Index" asp-controller="Store">Wachtwoord vergeten?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 col-md-3"></div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <input type="submit" value="Log In" class="btn btn-primary btn-block btn-lg" tabindex="3">
                                            </div>

                                        </div>

                                    </div>
                                </form>
                            </li>
                            <li>
                                <form asp-controller="Account" asp-action="Register" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input asp-for="Voornaam" class="form-control input-lg" placeholder="Voornaam" tabindex="1" />
                                                <span asp-validation-for="Voornaam" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input asp-for="Naam" class="form-control input-lg" placeholder="Naam" tabindex="2">
                                                <span asp-validation-for="Naam" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <input asp-for="Email" class="form-control input-lg" placeholder="Email adres" tabindex="3">
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <input asp-for="NaamBedrijf" class="form-control input-lg" placeholder="Bedrijfsnaam" tabindex="4">
                                                <span asp-validation-for="NaamBedrijf" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-7 col-md-7">
                                            <div class="form-group">
                                                <input asp-for="Straat" class="form-control input-lg" placeholder="Straat" tabindex="5">
                                                <span asp-validation-for="Straat" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-3 col-md-3">
                                            <div class="form-group">
                                                <input asp-for="Nummer" class="form-control input-lg" placeholder="Nummer" tabindex="6">
                                                <span asp-validation-for="Nummer" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-2 col-md-2">
                                            <div class="form-group">
                                                <input asp-for="Bus" class="form-control input-lg" placeholder="Bus" tabindex="7">
                                                <span asp-validation-for="Bus" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <div class="form-group">
                                                <input asp-for="Postcode" class="form-control input-lg" placeholder="Postcode" tabindex="8">
                                                <span asp-validation-for="Postcode" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-8 col-md-8">
                                            <div class="form-group">
                                                <input asp-for="Gemeente" class="form-control input-lg" placeholder="Gemeente" tabindex="9">
                                                <span asp-validation-for="Gemeente" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6"></div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="submit" value="Registreer" class="btn btn-primary btn-block btn-lg" tabindex="10">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="clear"> </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="mijnRij customRij rechterKant">
                <h1>Kairos</h1>
                <br />
                <p>
                    Waarom zou een werkgever investeren in het tewerkstellen van personen met een grote afstand tot de arbeidsmarkt en/of functiecreatie? We zijn geneigd te denken dat we - ook managers en bedrijfsleiders - erg rationele wezens zijn, die (grote) beslissingen weloverwogen maken. Maar... zijn menselijke beslissingen wel zo rationeel als we denken?
                </p>
                <br />
                <p>
                    Niet echt. Mensen beslissen op basis van eigen kennis, ervaring, inschattingsvermogen en intuïtie. We gaan er vanuit dat we daarmee in staat zijn om consistente en evenwichtige beslissingen te nemen of, anders gezegd, een rationele afweging te maken. De waarheid is echter heel anders. Veel van onze besluitvorming wordt door een automatische piloot-functie van onze hersenen gedaan. Met als gevolg dat wij, en ook werkgevers, veel beslissingen nemen op basis van vooroordelen in plaats van alle beschikbare informatie in overweging te nemen.
                </p>
                <br />
                <p>
                    Het maken van een business case kan helpen om de besluitvorming te verbeteren, want het geeft betrouwbare, op feiten gebaseerde informatie en vermindert de subjectiviteit in beoordeling en besluitvorming. De kans dat de werkgever op jouw aanbod zal ingaan, vergroot naarmate je deze vraag duidelijk en zakelijk onderbouwd weet te beantwoorden.
                </p>
                <br />
                <p>
                    Met dit model kan je werkgevers inzicht geven in de economische waarde van het werken met mensen met een grote afstand tot de arbeidsmarkt.
                </p>
            </div>
        </div>
    </div>
</body>
</html>