<h4>
    Bent u zeker dat u de analyse @ViewData["analyse"] wilt verwijderen?
</h4>
<form asp-action="Delete" method="post">
    <div>
        <button class="btn btn-primary" type="submit">Bevestig</button>
        <a asp-action="Index" class="btn btn-default">annuleer</a>
    </div>
</form>
