@{
    ViewData["Title"] = "Kairos";
}

<link rel="stylesheet" href="~/css/analyseDetail.css" />

<h2>Home</h2>
<hr />

@for (var i = 0; i < 5; i++)
{
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12 omlijn">
            <div class="col-lg-12 col-md-12 col-sm-12 verhoogPaddingZijkant verhoogPaddingTitel">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    @*logo werkgever*@
                    <img class="img-circle img-responsive mijnLogo" src="images/analyseOverzicht/Carrefour.png" alt="meh" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 werkgeverTekst">
                    @*naam werkgever*@
                    Carrefour
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 iconen">
                    @*knoppen downloaden versturen verwijderen*@
                    <div class="icoon">
                        <img class="img-responsive img-rounded mijnIcoon" src="images/analyseOverzicht/delete.png" alt="meh" />
                    </div>
                    <div class="icoon">
                        <img class="img-responsive img-rounded mijnIcoon" src="images/analyseOverzicht/send.png" alt="meh" />
                    </div>
                    <div class="icoon">
                        <img class="img-responsive img-rounded mijnIcoon" src="images/analyseOverzicht/save.png" alt="meh" />
                    </div>
                </div>
            </div>
            @*informatie*@
            <div class="col-lg-12 col-md-12 col-sm-12 omlijnBoven verhoogPaddingZijkant verhoogPaddingBovenOnder">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="infoTekst">
                        <u>Locatie</u>
                    </div>
                    <div class="infoTekst">
                        Aalst
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="infoTekst">
                        <u>Gewijzigd Op</u>
                    </div>
                    <div class="infoTekst">
                        10/03/2017
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="infoTekst">
                        <u>Jobcoach</u>
                    </div>
                    <div class="infoTekst">
                        Niels De Bruyne
                    </div>
                </div>
            </div>
            @*resultaten*@
            <div class="col-lg-12 col-md-12 col-sm-12 verhoogPaddingZijkant">
                <div class="helft" style="width: 34.9%;">
                    <div class="kosten">
                        Kosten
                    </div>
                    <div class="kostenBalk">
                        €12.456,00
                    </div>
                </div>
                <div class="helft" style="width: 65.1%;">
                    <div class="baten">
                        Baten
                    </div>
                    <div class="batenBalk">
                        €23.274,00
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 resultaat">
                <strong>€10.818,00</strong>
            </div>
        </div>
    </div>
}