@model Aalstprojecten2_groep4DOTNET.Models.ViewModels.Home.ProfielAanpassenViewModel

@{
    ViewData["Title"] = "Profiel";
}

<link rel="stylesheet" href="~/css/ProfielAanpassen.css" />

<h2 class="text-left">Oeps.. er was een probleem</h2>
<hr />

<h3>Doorgaan met opslaan was niet mogelijk, mogelijks was verplichte data niet ingevuld.</h3>
<form method="post">
    <input asp-for="Email" type="hidden" />
    <input asp-for="Voornaam" type="hidden" />
    <input asp-for="Naam" type="hidden" />
    <input asp-for="NaamBedrijf" type="hidden" />
    <input asp-for="Straat" type="hidden" />
    <input asp-for="Nummer" type="hidden" />
    <input asp-for="Bus" type="hidden" />
    <input asp-for="Postcode" type="hidden" />
    <input asp-for="Gemeente" type="hidden" />
    
    
    <div class="btn-group col-md-4 margins verwijderPaddingLinks" role="group">
        <button type="submit" formaction="ProfielAanpassen" class="btn btn-danger btn-lg col-md-6 marginBenedenGroot">Keer terug</button>
        <a asp-controller="Home" asp-action="DoorgaanZonderOpslaan" class="btn btn-primary btn-lg col-md-6 groeneKnop">Doorgaan zonder opslaan</a>
    </div>
</form>
