@model Aalstprojecten2_groep4DOTNET.Models.ViewModels.Home.ProfielAanpassenViewModel

<h2>Doorgaan met opslaan was niet mogelijk, mogelijks was verplichte data niet ingevuld.</h2>
<a asp-controller="Home" asp-action="DoorgaanZonderOpslaan" class="btn btn-default">Doorgaan zonder opslaan</a>
<a asp-controller="Home" asp-action="NietDoorgaan" class="btn btn-default">Keer terug</a>