@model Aalstprojecten2_groep4DOTNET.Models.ViewModels.Home.ProfielAanpassenViewModel

<h2>Doorgaan met opslaan was niet mogelijk, mogelijks was verplichte data niet ingevuld.</h2>
<form method="post">
    <input asp-for="Email" type="hidden" />
    <input asp-for="Voornaam" type="hidden" />
    <input asp-for="Naam" type="hidden" />
    <input asp-for="NaamBedrijf" type="hidden" />
    <input asp-for="Straat" type="hidden" />
    <input asp-for="Nummer" type="hidden" />
    <input asp-for="Bus" type="hidden" />
    <input asp-for="Postcode" type="hidden" />
    <input asp-for="Gemeente" type="hidden" />
    <a asp-controller="Home" asp-action="DoorgaanZonderOpslaan" class="btn btn-default">Doorgaan zonder opslaan</a>
    <button formaction="ProfielAanpassen" class="btn btn-default">Keer terug</button>

</form>
