@model Aalstprojecten2_groep4DOTNET.Models.ViewModels.Home.ProfielAanpassenViewModel

@{
    ViewData["Title"] = "Profiel";
}

<link rel="stylesheet" href="~/css/ProfielAanpassen.css" />

<h2>U bent vergeten uw profiel aan te passen!</h2>
<form method="post">
    <input asp-for="Email" type="hidden" />
    <input asp-for="Voornaam" type="hidden" />
    <input asp-for="Naam" type="hidden" />
    <input asp-for="NaamBedrijf" type="hidden" />
    <input asp-for="Straat" type="hidden" />
    <input asp-for="Nummer" type="hidden" />
    <input asp-for="Bus" type="hidden" />
    <input asp-for="Postcode" type="hidden" />
    <input asp-for="Gemeente" type="hidden" />


    <div class="btn-group col-md-6 margins verwijderPaddingLinks" role="group">
        <button formaction="DoorgaanMetOpslaan" class="btn btn-primary col-md-4 btn-lg marginBenedenKlein groeneKnop">Doorgaan en opslaan</button>
        <a asp-controller="Home" asp-action="DoorgaanZonderOpslaan" class="btn btn-danger btn-lg col-md-4 marginBenedenGroot">Doorgaan zonder opslaan</a>
        <button formaction="ProfielAanpassenKeerTerug" class="btn btn-primary btn-lg col-md-4 groeneKnop">Keer terug</button>
    </div>
</form>
