@model Aalstprojecten2_groep4DOTNET.Models.ViewModels.Home.ProfielAanpassenViewModel

<h2>U bent vergeten uw profiel aan te passen!</h2>
<a asp-controller="Home" asp-action="DoorgaanMetOpslaan" class="btn btn-default">Doorgaan en opslaan</a>
<a asp-controller="Home" asp-action="DoorgaanZonderOpslaan" class="btn btn-default">Doorgaan zonder opslaan</a>
<a asp-controller="Home" asp-action="NietDoorgaan" class="btn btn-default">Keer terug</a>