@{
    ViewData["Title"] = "Kairos";
}

<link rel="stylesheet" href="~/css/AnalyseBekijken.css" />
<link rel="stylesheet" href="~/css/Baat1.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/tableScript.js"></script>


<h2>Nieuwe Analyse - Kosten</h2>
<hr />

<div>
    <input type="checkbox" id="question1" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question1" class="question">
        KOST: Welke nieuwe functies zet u in?
    </label>
    <div class="answers">
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered" id="tableAddRow">
                            <thead>
                                <tr>
                                    <th>Functie</th>
                                    <th>Aantal Uren Per Week</th>
                                    <th>Bruto Maandloon Fulltime</th>
                                    <th>Doelgroep</th>
                                    <th>Vlaamse Ondersteunings Premie</th>
                                    <th style="width:10px"><span class="glyphicon glyphicon-plus addBtn" id="addBtn_0"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="tr_0">
                                    <td><input type="number" id="Uren" class="form-control" placeholder="€" /></td>
                                    <td><input type="number" id="BrutoLoon" class="form-control" placeholder="€" /></td>
                                    <td><input type="number" id="TotaleLoonKost" class="form-control" placeholder="€" disabled /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <input type="checkbox" id="question2" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question2" class="question">
        KOST: Welk bedrag krijgt u aan subsidie voor eventuele aanpassingen aan de werkomgeving?
    </label>
    <div class="answers">
        <form>
            <div class="form-group">
                <label for="formGroupExampleInput">Jaarbedrag</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="€">
            </div>





        </form>
    </div>
</div>

<div>
    <input type="checkbox" id="question3" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question3" class="question">
        KOST: Vul hier de lonen op hetzelfde niveau in die mogelijk vervangen worden, met het geschatte aantal uren dat per week weggehaald wordt.
    </label>
    <div class="answers">
        <div class="form-group">
            <label for="formGroupExampleInput2">Vul hier de lonen op hetzelfde niveau in die mogelijk vervangen worden, met het geschatte aantal uren dat per week weggehaald wordt.</label>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered" id="tableAddRow">
                            <thead>
                                <tr>
                                    <th>Uren</th>
                                    <th>Bruto maandloon fulltime</th>
                                    <th>Totale loonkost per jaar (incl. patronale bijdragen en vakantiegeld)</th>
                                    <th style="width:10px"><span class="glyphicon glyphicon-plus addBtn" id="addBtn_0"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="tr_0">
                                    <td><input type="number" id="Uren" class="form-control" placeholder="€" /></td>
                                    <td><input type="number" id="BrutoLoon" class="form-control" placeholder="€" /></td>
                                    <td><input type="number" id="TotaleLoonKost" class="form-control" placeholder="€" disabled /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>