@{
    ViewData["Title"] = "Kairos";
}

<link rel="stylesheet" href="~/css/AnalyseBekijken.css" />
<link rel="stylesheet" href="~/css/Baat1.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/tableScriptBaten.js"></script>

<div class="row">
    <div class="col-md-9">
        <h2>Nieuwe Analyse - Baten</h2>
    </div>
    <div class="col-md-3" style="padding-top:20px;">
        <a asp-controller="Analyse" asp-action="AnalyseOverzicht">
            <img style="margin-left: 20px; max-height:30px; max-width: 50px; min-height: 30px; float:right;" src="~/images/iconen/overview.png" />
        </a>

    </div>
</div>
<div>
    <h5></h5>
    <hr />
</div>

<div class="container">

    <div class="row form-group">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseBaat1">
                        <h4 class="list-group-item-heading">Stap 1</h4>
                        <p>Lonen die vervangen worden</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseBaat2">
                        <h4 class="list-group-item-heading">Stap 2</h4>
                        <p>Uitzendkrachten, overuren en uitbesteede zaken</p>
                    </a>
                </li>
                <li class="active">
                    <a asp-controller="Analyse" asp-action="AnalyseBaat3">
                        <h4 class="list-group-item-heading">Stap 3</h4>
                        <p>Subsidies, extra productiviteit en omzet verlies</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseBaat4">
                        <h4 class="list-group-item-heading">Stap 4</h4>
                        <p>Andere mogelijke besparingen</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>


        <div class="col-xs-12">
            <div class="col-md-12 well text-center">
                <div class="Blok1 text-center">
                    <h3 class="text-left">(B6) 1. Hoeveel omzet mist u doordat u personeel tekort komt?</h3>
                    <table class="table table-bordered text-left" style="margin-bottom: 55px;">
                        <thead>
                            <tr>
                                <th style="width:5%"></th>
                                <th>Jaarbedrag Omzetverlies</th>
                                <th>Besparing</th>
                                <th style="width:5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>€ 12.000,00</td>
                                <td>48 %</td>
                                <td class="text-center">
                                    <button type="button" class="glyphicon glyphicon-edit" style="margin-right:5px; float:left;" />
                                    <button class="glyphicon glyphicon-remove" />
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>Gegevens van de nieuwe functie</h3>
                    <div class="invulveldjes1" style="width:100%; height: 100px; float:left; padding-left:30%;">
                        <input type="number" id="jaarbedragOmzetverlies" class="form-control" placeholder="Jaarbedrag Omzetverlies" style="float:left; margin-right: 50px;" />
                        <input type="number" id="besparing" class="form-control" placeholder="Besparing in %" style="float:left;" />
                    </div>

                    <button class="btn btn-primary btn-lg text-center">Voeg Toe</button>
                    <button class="btn btn-primary btn-lg text-center">Annuleer</button>

                </div>

                <div class="Blok1 text-center">
                    <h3 class="text-left">(B7) 2. Hoeveel extra productiviteit denkt u te kunnen maken door inzet van mensen met een grote afstand tot de arbeidsmarkt?</h3>
                    <input type="number" id="jaarbedrag" class="form-control" placeholder="Jaarbedrag" />
                </div>

                <div class="Blok1 text-center">
                    <h3 class="text-left">(B2) 3. Welk bedrag krijgt u aan subsidie voor eventuele aanpassingen aan de werkomgeving?</h3>
                    <input type="number" id="jaarbedrag" class="form-control" placeholder="Jaarbedrag" />
                    
                </div>
                <a asp-controller="Analyse" asp-action="AnalyseBaat4" class="btn btn-primary btn-lg">Volgende</a>
            </div>
        </div>

</div>