@{
    ViewData["Title"] = "Kairos";
}

<link rel="stylesheet" href="~/css/AnalyseBekijken.css" />
<link rel="stylesheet" href="~/css/Baat1.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/tableScriptBaten.js"></script>

<div class="row">
    <div class="col-md-9">
        <h2>Nieuwe Analyse - Baten</h2>
    </div>
    <div class="col-md-3" style="padding-top:20px;">

        <a asp-controller="Analyse" asp-action="AnalyseOverzicht">
            <img style="margin-left: 20px; max-height:30px; max-width: 50px; min-height: 30px; float:right;" src="~/images/iconen/overview.png" />
        </a>

    </div>
</div>
<div>
    <h5></h5>
    <hr />
</div>

<div class="container">
    <div class="row form-group">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="active">
                    <a asp-controller="Analyse" asp-action="AnalyseBaat1">
                        <h4 class="list-group-item-heading">Stap 1</h4>
                        <p>Lonen die vervangen worden</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseBaat2">
                        <h4 class="list-group-item-heading">Stap 2</h4>
                        <p class="list-group-item-text">Uitzendkrachten, overuren en uitbesteede zaken</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseBaat3">
                        <h4 class="list-group-item-heading">Stap 3</h4>
                        <p class="list-group-item-text">Subsidies, extra productiviteit en omzet verlies</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseBaat4">
                        <h4 class="list-group-item-heading">Stap 4</h4>
                        <p class="list-group-item-text">Andere mogelijke besparingen</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

        <div class="col-xs-12">
            <div class="col-md-12 well text-center">
                <div class="Blok1 text-center">
                    <h3 class="text-left">(B3) 1. Vul hier de lonen op hetzelfde niveau in die mogelijk vervangen worden, met het geschatte aantal uren dat per week weggehaald wordt.</h3>
                    <table class="table table-bordered text-left" id="tableAddRow" style="margin-bottom: 55px;">
                        <thead>
                            <tr>
                                <th style="width:5%;"></th>
                                <th>Uren</th>
                                <th>Bruto Maandloon Fulltime</th>
                                <th>Totale loonkost per jaar <br />(incl. patronale bijdrage en vakantiegeld)</th>
                                <th style="width:5%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="tr_0">
                                <td>1.</td>
                                <td>15</td>
                                <td>€ 22.000,00</td>
                                <td>€ 22.000,00</td>
                                <td class="text-center">
                                    <button type="button" class="glyphicon glyphicon-edit" style="margin-right:5px; float:left;" />
                                    <button class="glyphicon glyphicon-remove" />
                                </td>
                        </tbody>
                    </table>

                    <h3>Gegevens van de nieuwe functie</h3>
                    <div class="invulveldjes1" style="width:100%; height: 100px; float:left; padding-left:23%;">
                        <input type="number" id="uren" class="form-control" placeholder="Uren" style="float:left; margin-right:50px;" />
                        <input type="number" id="brutoMaandloonFulltime" class="form-control" placeholder="Bruto maandloon fulltime" style="float:left; margin-right:50px;" />
                        <input type="number" id="totaleLoonkostPerJaar" class="form-control" placeholder="Loonkost Per Jaar" style="float:left; margin-right:50px;" />
                    </div>

                    <button class="btn btn-primary btn-lg text-center">Voeg Toe</button>
                    <button class="btn btn-primary btn-lg text-center">Annuleer</button>

                </div>

                <div class="Blok1 text-center">
                    <h3 class="text-left">(B4) 2. Vul hier de lonen op een hoger niveau in die mogelijk vervangen worden, met het geschatte aantal uren dat per week weggehaald wordt.</h3>
                    <table class="table table-bordered" id="tableAddRow2" style="margin-bottom: 55px;">
                        <thead>
                            <tr>
                                <th style="width:5%;"></th>
                                <th>Uren</th>
                                <th>Bruto Maandloon Fulltime</th>
                                <th>Totale loonkost per jaar <br />(incl. patronale bijdrage en vakantiegeld)</th>
                                <th style="width:5%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="tr_0">
                                <td>1.</td>
                                <td>15</td>
                                <td>€ 22.000,00</td>
                                <td>€ 22.000,00</td>
                                <td class="text-center">
                                    <button type="button" class="glyphicon glyphicon-edit" style="margin-right:5px; float:left;" />
                                    <button class="glyphicon glyphicon-remove" />
                                </td>
                        </tbody>
                    </table>

                    <h3>Gegevens van de nieuwe functie</h3>
                    <div class="invulveldjes1" style="width:100%; height: 100px; float:left; padding-left:23%;">
                        <input type="number" id="uren" class="form-control" placeholder="Uren" style="float:left; margin-right:50px;" />
                        <input type="number" id="brutoMaandloonFulltime" class="form-control" placeholder="Bruto maandloon fulltime" style="float:left; margin-right:50px;" />
                        <input type="number" id="totaleLoonkostPerJaar" class="form-control" placeholder="Loonkost Per Jaar" style="float:left; margin-right:50px;" />
                    </div>

                    <button class="btn btn-primary btn-lg text-center">Voeg Toe</button>
                    <button class="btn btn-primary btn-lg text-center">Annuleer</button>
                    
                </div>
                <a asp-controller="Analyse" asp-action="AnalyseBaat2" class="btn btn-primary btn-lg">Volgende</a>
            </div>
        </div>
    </div>