@{
    ViewData["Title"] = "Kairos";
}

<link rel="stylesheet" href="~/css/AnalyseBekijken.css" />
<link rel="stylesheet" href="~/css/Baat1.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/tableScriptBaten.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/WizardBaten.js"></script>

<div class="row">
    <div class="col-md-9">
        <h2>Nieuwe Analyse - Kosten</h2>
    </div>
    <div class="col-md-3" style="padding-top:20px;">
        <input type="image" style="margin-left: 20px; max-height:30px; max-width: 50px; min-height: 30px; float:right;" src="~/images/iconen/overview.png" />
        <input type="image" style="max-height:30px; max-width: 50px; min-height: 30px; float:right;" src="~/images/iconen/save.png" />
    </div>
</div>
<div>
    <h5></h5>
    <hr />
</div>

<div class="container">
    <div class="row form-group">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="active">
                    <a href="#step-1">
                        <h4 class="list-group-item-heading">Stap 1</h4>
                        <p>Lonen die vervangen worden</p>
                    </a>
                </li>
                <li class="disabled">
                    <a href="#step-2">
                        <h4 class="list-group-item-heading">Stap 2</h4>
                        <p class="list-group-item-text">Uitzendkrachten, overuren en uitbesteede zaken</p>
                    </a>
                </li>
                <li class="disabled">
                    <a href="#step-3">
                        <h4 class="list-group-item-heading">Stap 3</h4>
                        <p class="list-group-item-text">Subsidies, extra productiviteit en omzet verlies</p>
                    </a>
                </li>
                <li class="disabled">
                    <a href="#step-4">
                        <h4 class="list-group-item-heading">Stap 4</h4>
                        <p class="list-group-item-text">Andere mogelijke besparingen</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="row setup-content" id="step-1">
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">
                <div class="Blok1 text-center">
                    <h4 class="text-left">Vul hier de lonen op hetzelfde niveau in die mogelijk vervangen worden, met het geschatte aantal uren dat per week weggehaald wordt.</h4>
                    <table class="table table-bordered" id="tableAddRow" style="margin-bottom: 25px;">
                        <thead>
                            <tr>
                                <th>Uren</th>
                                <th>Bruto Maandloon Fulltime</th>
                                <th>Totale loonkost per jaar <br />(incl. patronale bijdrage en vakantiegeld)</th>
                                <th style="width:10px"><span class="glyphicon glyphicon-plus addBtn"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="tr_0">
                                <td><input type="number" id="uren" class="form-control" placeholder="Uren" /></td>
                                <td><input type="number" id="brutoMaandloonFulltime" class="form-control" placeholder="Bruto maandloon fulltime" /></td>
                                <td><input type="number" id="totaleLoonkostPerJaar" class="form-control" placeholder="Loonkost Per Jaar" /></td>

                        </tbody>
                    </table>

                </div>

                <div class="Blok1 text-center">
                    <h4 class="text-left">Vul hier de lonen op een hoger niveau in die mogelijk vervangen worden, met het geschatte aantal uren dat per week weggehaald wordt.</h4>
                    <table class="table table-bordered" id="tableAddRow2" style="margin-bottom: 25px;">
                        <thead>
                            <tr>
                                <th>Uren</th>
                                <th>Bruto Maandloon Fulltime</th>
                                <th>Totale loonkost per jaar <br />(incl. patronale bijdrage en vakantiegeld)</th>
                                <th style="width:10px"><span class="glyphicon glyphicon-plus addBtn2"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="tr_0">
                                <td><input type="number" id="uren" class="form-control" placeholder="Uren" /></td>
                                <td><input type="number" id="brutoMaandloonFulltime" class="form-control" placeholder="Bruto maandloon fulltime" /></td>
                                <td><input type="number" id="totaleLoonkostPerJaar" class="form-control" placeholder="Loonkost Per Jaar" /></td>

                        </tbody>
                    </table>
                    <button type="button" id="activate-step-2" class="btn btn-primary btn-lg">Volgende</button>
                </div>

            </div>
        </div>
    </div>

    <div class="row setup-content" id="step-2">
        <div class="col-xs-12">
            <div class="col-md-12 well">
                <div class="Blok1 text-center">
                    <h4 class="text-left">Welke besparing denkt u te kunnen maken op uitzendkrachten?</h4>
                    <table class="table table-bordered" id="tableAddRow3" style="margin-bottom: 25px;">
                        <thead>
                            <tr>
                                <th>Beschrijving</th>
                                <th>Jaarbedrag</th>
                                <th style="width:10px"><span class="glyphicon glyphicon-plus addBtn3"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="tr_0">
                                <td><input type="text" id="beschrijving" class="form-control" placeholder="Beschrijving" /></td>
                                <td><input type="number" id="jaarbedrag" class="form-control" placeholder="Jaarbedrag" /></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="Blok1 text-center">
                    <h4 class="text-left">Welke zaken worden extern ingekocht en kan op worden bespaard? Denk hierbij aan bijvoorbeeld uitbesteedde productie, schoonmaak, hoveniers enz.</h4>
                    <table class="table table-bordered" id="tableAddRow4" style="margin-bottom: 25px;">
                        <thead>
                            <tr>
                                <th>Beschrijving</th>
                                <th>Jaarbedrag</th>
                                <th style="width:10px"><span class="glyphicon glyphicon-plus addBtn4"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="tr_0">
                                <td><input type="text" id="beschrijving" class="form-control" placeholder="Beschrijving" /></td>
                                <td><input type="number" id="jaarbedrag" class="form-control" placeholder="Jaarbedrag" /></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="Blok1 text-center">
                    <h4 class="text-left">Hoeveel denkt u te kunnen besparen op overuren?</h4>
                    <input type="text" class="form-control" placeholder="€" />
                </div>

                <div class="Blok1 text-center">
                    <h4 class="text-left">Wat zijn de transportkosten van eventueel uitbesteedde zaken?</h4>
                    <input type="text" class="form-control" placeholder="€" />
                </div>

                <div class="Blok1 text-center">
                    <h4 class="text-left">Wat zijn de logistieke handlingskosten van eventueel uitbesteedde zaken?</h4>
                    <input type="text" class="form-control" placeholder="€" />
                    <button type="button" id="activate-step-3" class="btn btn-primary btn-lg">Volgende</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row setup-content" id="step-3">
        <div class="col-xs-12">
            <div class="col-md-12 well">
                <div class="Blok1 text-center">
                    <h4 class="text-left">Hoeveel omzet mist u doordat u personeel tekort komt?</h4>
                    <table class="table table-bordered" style="margin-bottom: 25px;">
                        <thead>
                            <tr>
                                <th>Jaarbedrag Omzetverlies</th>
                                <th>Besparing</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="number" id="jaarbedragOmzetverlies" class="form-control" placeholder="Jaarbedrag Omzetverlies" /></td>
                                <td><input type="number" id="besparing" class="form-control" placeholder="Besparing in %" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="Blok1 text-center">
                    <h4 class="text-left">Hoeveel extra productiviteit denkt u te kunnen maken door inzet van mensen met een grote afstand tot de arbeidsmarkt?</h4>
                    <input type="number" id="jaarbedrag" class="form-control" placeholder="Jaarbedrag" />
                </div>

                <div class="Blok1 text-center">
                    <h4 class="text-left">Welk bedrag krijgt u aan subsidie voor eventuele aanpassingen aan de werkomgeving?</h4>
                    <input type="number" id="jaarbedrag" class="form-control" placeholder="Jaarbedrag" />
                    <button type="button" id="activate-step-4" class="btn btn-primary btn-lg">Volgende</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row setup-content" id="step-4">
        <div class="col-xs-12">
            <div class="col-md-12 well">
                <div class="Blok1 text-center">
                    <h4 class="text-left">Aan welke besparingen kan er nog meer gedacht worden? Vul de bedragen in per jaar?</h4>
                    <table class="table table-bordered" id="tableAddRow5" style="margin-bottom: 25px;">
                        <thead>
                            <tr>
                                <th>Type Besparing</th>
                                <th>Jaarbedrag</th>
                                <th style="width:10px"><span class="glyphicon glyphicon-plus addBtn5"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="tr_0">
                                <td><input type="text" id="type" class="form-control" placeholder="Type Besparing" /></td>
                                <td><input type="number" id="jaarBedrag" class="form-control" placeholder="Jaarbedrag" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary btn-lg">Overzicht</button>
                </div>
            </div>
        </div>
    </div>
</div>