<h2>@ViewData["analyse"]</h2>

<h4>Bent u zeker dat u de analyse @ViewData["analyse"] uit het archief wilt halen, en opnieuw bij de actieve analyses wil plaatsen?</h4>

<form asp-action="DeArchiveer" method="post">
    <div>
        <button class="btn btn-primary" type="submit">Archiveer</button>
        <a asp-controller="Analyse" asp-action="AnalyseBekijken" class="btn btn-default">annuleer</a>
    </div>
</form>