<a asp-controller="Analyse" asp-action="NieuweWerkgever" class="btn btn-default">Nieuwe Werkgever</a>
<a asp-controller="Analyse" asp-action="BestaandeWerkgever" class="btn btn-default">Bestaande Werkgever</a>