@{
    ViewData["Title"] = "Werkgever";
}

<link rel="stylesheet" href="~/css/StyleSheet.css" />

<div class="row">
        <h2 class="kleinePaddingLinks">Nieuwe Analyse</h2>
    <hr />
</div>


<div class="content">
    <div class="text-left">
        <h3>Wilt u een analyse maken voor een nieuwe of bestaande werkgever?</h3>
        <a asp-controller="Analyse" asp-action="NieuweWerkgever" class="btn btn-primary btn-lg groeneKnop">Nieuwe Werkgever</a>
        <a asp-controller="Analyse" asp-action="BestaandeWerkgever" class="btn btn-primary btn-lg groeneKnop">Bestaande Werkgever</a>
    </div>
    

</div>
