@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<link rel="stylesheet" href="~/css/LoginEnRegister.css" />
<link rel="stylesheet" href="~/css/Animations.css"/>

<dl>
    <dd class="users"><a asp-area="" asp-controller="Account" asp-action="Login" class="user active"> Aanmelden</a></dd>
    <dd class="messages"><a asp-area="" asp-controller="Account" asp-action="Register" class="msg"> Registreren</a></dd>
</dl>
<ul class="beginToestand animated fadeIn">
    <form asp-controller="Account" asp-action="Login" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-sm-3 col-md-3"></div>
            <div class="col-xs-12 col-sm-6 col-md-6 prentje">
                <img src="~/images/login/login foto.png" alt="WHeeeeeeee">
            </div>
        </div>
        <div class="form">
            <div class="row">
                <div class="col-sm-3 col-md-3"></div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input asp-for="Email" class="form-control input-lg" placeholder="Email adres" tabindex="1">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3"></div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input asp-for="Password" class="form-control input-lg" placeholder="Wachtwoord" tabindex="2">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 col-md-3"></div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="prentje">
                        <a asp-action="Index" asp-controller="Recover">Wachtwoord vergeten?</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3"></div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <input type="submit" value="Log In" class="btn btn-primary btn-block btn-lg" tabindex="3">
                </div>

            </div>

        </div>
    </form>
</ul>

