@{
    ViewData["Title"] = "Wachtwoord succesvol aangepast";
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/WachtwoordVergeten.css" />
</head>
<body>
    <div class="row" style="margin-left:0px;margin-right:0px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left:0px;padding-right:0px;">
            <div class="row customRij">
                <div class="grid_12 columns achtergrondKleur">
                    <div class="tab style-1">
                        <div class="logo">
                            <img src="~/images/kairosLogo/kairos_icon_black.png" />
                        </div>
                        <h3 class="maakShjtijl">Uw wachtwoord is aangepast</h3>
                        <div>
                            <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg" style="width:100%; margin-bottom:15px;">Login</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>