@{
    ViewData["Title"] = "Wachtwoord succesvol aangepast";
    Layout = null;
}

<h1>@ViewData["Title"].</h1>
<p>
    Uw wachtwoord is aangepast. <a asp-controller="Account" asp-action="Login">klik hier</a>.
</p>
