@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Wachtwoord veranderen";
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Wachtwoord veranderen - Kairos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/WachtwoordVergeten.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

</head>
<body>
    <div class="row" style="margin-left:0px;margin-right:0px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left:0px;padding-right:0px;">
            <div class="row customRij">
                <div class="grid_12 columns achtergrondKleur transparantie">
                    <div class="tab style-1">
                        <div class="logo">
                            <img src="~/images/kairosLogo/kairos_icon_black.png" />
                        </div>
                        <h2 class="maakShjtijl">Wachtwoord veranderen</h2>

                        <form asp-controller="Account" asp-action="ResetPassword" method="post">

                            <span asp-validation-for="Password" class="text-danger"></span>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                                         
                            
                            <input asp-for="Code" type="hidden" />
                            <input asp-for="Email" type="hidden" />
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 text-left">
                                    <div class="form-group">
                                        <label asp-for="Password" class="col-md-12 control-label" style="padding-left:5px;"></label>
                                        <input asp-for="Password" class="form-control input-lg" style="padding-left:5px;" placeholder="Wachtwoord"/>
                                        
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 text-left">
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword" class="col-md-12 control-label" style="padding-left:5px;"></label>
                                            <input asp-for="ConfirmPassword" class="form-control input-lg" style="padding-left:5px;" placeholder="Bevestig Wachtwoord"/>
                                        
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                        <button type="submit" class="btn btn-primary btn-block btn-lg groeneKnop" style="margin-bottom:15px;">Opslaan</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
