.container {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}    	

.opschuiven {
    margin-right: 15px;
}

    	.navbar-collapse form[role="search"] {
    		position: absolute;
    		top: 0px;
    		right: 0px;
    		width: 100%;
    		padding: 0px;
    		margin: 0px;
    		z-index: 0;
    	}
    	.navbar-collapse form[role="search"] button,
    	.navbar-collapse form[role="search"] input {
    		padding: 8px 12px;
    		border-radius: 0px;
    		border-width: 0px;
    		color: rgb(119, 119, 119);
    		background-color: rgb(248, 248, 248);
    		border-color: rgb(231, 231, 231);
    		box-shadow: none;
    		outline: none;
    	}
    	.navbar-collapse form[role="search"] input {
    		padding: 16px 12px;
    		font-size: 14pt;
    		font-style: italic;
    		color: rgb(160, 160, 160);
    		box-shadow: none;
    	}
    	.navbar-collapse form[role="search"] button[type="reset"] {
    		display: none;
    	}

    	@media (min-width: 768px) {
    		.navbar-collapse {
    			padding-top: 0px !important;
    			padding-right: 38px !important;
    		}
    		.navbar-collapse form[role="search"] {
    			width: 38px;
    		}
    		.navbar-collapse form[role="search"] button,
    		.navbar-collapse form[role="search"] input {
    			padding: 15px 12px;
    		}
    		.navbar-collapse form[role="search"] input {
    			padding: 25px 12px;
    			font-size: 18pt;
    			opacity: 0;
    			display: none;
    		}
    		.navbar-collapse form[role="search"].active {
    			width: 100%;
    		}
    		.navbar-collapse form[role="search"].active button,
    		.navbar-collapse form[role="search"].active input {
    			display: table-cell;
    			opacity: 1;
    		}
        	.navbar-collapse form[role="search"].active input {
    			width: 100%;
    		}
    	}

.kaartjeHeading {
    background-color: #85BEB8;
}

/*.achtergrondKleurtje {
    background-color: #FFFFFF;
    padding-bottom: 20px;
}

tr:nth-child(even) {
    background-color:#74a9d8;
}

tr:nth-child(odd) {
    background-color:#afcee9;
}*/

.test tr:nth-of-type(even) {
    background-color: #e6e6e6;
    /*background-color: #f2f2f2;*/
}

.table-striped > thead {
    color: white;
}

.dropdown2.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
    }
    .dropdown2.dropdown-lg {
        position: static !important;
    }
    .dropdown2.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

.dropdown2 {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group {
    position: relative;
    display: block;
    border-collapse: separate;
}

.veldjesGroote {
    max-width: 500px;
}

.zetCardZichtbaar {
    display: block;
}

.zetCardOnzichtbaar {
    display: none;
}

.fancySearch {
    -webkit-animation-name: fancySearch;
    animation-name: fancySearch;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}



@-webkit-keyframes fancySearch {
  from {
    max-width: 280px;
  }

  to {
    max-width: 400px;
  }
}

@keyframes fancySearch {
  from {
    max-width: 280px;
  }

  to {
    max-width: 400px;
  }
}