@import url("http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css");

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}

.omlijn {
    border: 1px solid black;
    margin: 15px 0px 40px 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.omlijnBoven {
    border-top: 1px solid black;
}

.kosten {
    text-align: left;
}

.kostenBalk {
    background-color: #ff6666;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    height: 8px;
}

.kostenBalk2 {
    background-color: #ff6666;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 8px;
}

.baten {
    text-align: right;
}

.batenBalk {
    background-color: #9fdf9f;
    width: 100%;
    text-align: right;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    height: 8px;
}

.batenBalk2 {
    background-color: #9fdf9f;
    width: 100%;
    text-align: right;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 8px;
}

.batenBalk3 {
    background-color: #9fdf9f;
    width: 100%;
    text-align: right;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    height: 8px;
}
.PaddingLinks {
    padding-left: 10px;
}

.helft {
    float: left;
}

.resultaat {
    border-top: 1px solid black;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
}

.verhoogPaddingZijkant {
    padding-left: 15px;
    padding-right: 15px;
}

.verhoogPaddingBovenOnder {
    padding-bottom: 20px;
    padding-top: 20px;
}

.verhoogPaddingTitel {
    padding: 5px;
}

.mijnIcoon {
    max-height: 25px;
    min-height: 25px;
}

.mijnLogo {
    max-height: 35px;
    min-height: 35px;
}

.icoon {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.werkgeverTekst {
    padding-top: 8px;
    color: white;
    font-size: 16px;
}

.kaartjeHeading {
    background-color: #337AB7;
}

.achtergrondKleurtje {
    background-color: #FFFFFF;
    padding-bottom: 20px;
}

.borderRadiusTop {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.borderRadiusDown {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.borderRadius {
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.halveBreedte {
    width:50%;
}

.links {
    float:left;
}

.rechts {
    float:right;
}

.dropdownShtijl {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.verbergKnoppenBlok {
    display: none;
}

.toonKnoppenBlok {
    display: block;
}

.toonAnalyseKaart {
    display: block;
    z-index:3;
}

.verbergAnalyseKaart {
    display: none;
}

.diepte {
    z-index: 4;
}
