.klikbaar {
    cursor: pointer;
}

.gelezen {
   font-weight:normal; 
}

.nietgelezen {
    font-weight:bold;
}

.table {
    margin-top: 30px;
}
/*tr:hover {
    background-color:rgba(245,245,245,0.1);
}*/

.hover {
    width:100%;
    border-collapse:collapse;
}

.hover tr:not(:first-child):hover {
    background-color: #e6e6e6;
}

.marginButtons {
    margin-right: 15px;
}


.hoverOpMails {
    background-color: rgb(235,235,235);
}

.hoverOpMails:hover {
    background-color:white;
}

.well {
    padding: 0px;
}

.alGelezen {
    width: 1%;
    height: 175px;
    float:left;
}

.nogNietGelezen {
    width: 1%;
    height: 175px;
    float:left;
    background-color:#337AB7;
}