input, select, textarea {
    max-width: 429.5px;
}

.verwijderPaddingLinks {
    padding-left:0px;
}

.verwijderPaddingRechts {
    padding-right:0px;
}

.logo {
    margin:auto;
    margin-bottom: 25px;
    max-width: 200px;
    max-height: 200px;
    margin-top: 25px;
}

.breddtefixen {
    width:100%;
    height:100%;
}

.divOpmaak {
    border-radius: 5px;
    background-color: white;
    border: 2px solid #FFFFFF;
    margin-top: 150px;
    margin-bottom: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.divBorder {
    border:2px solid #FFFFFF; 
    margin-top: 50px; 
    margin-bottom: 150px;
}

.margins {
    margin-top:20px;
    margin-bottom:20px;
}

.marginBenedenKlein {
    margin-bottom:5px;
}

.marginBenedenGroot {
    margin-bottom:20px;
}



.customRij {
        text-align: center;
        width: 400px;
        margin: auto;
        text-align: center;
}

.marginBenedenMidden {
    margin-bottom: 75px;
}

.marginBenedenGrootMaarNietZoGrootAlsMarginBenedenMiddenDitMetOnzeExcuses_Pardon {
    margin-bottom:50px;
}

.fixPadding {
    padding-left: 0px;
}