.btn-default.btn-on.active{background-color: #99CC00;color: white;}
.btn-default.btn-off.active{background-color: #ff3333;color: white;}


.actAsKnop {
    touch-action:manipulation;
    cursor: pointer;
}

.kost6Header {
    width:25%; 
    min-height: 75px; 
    float:left;
}

.actief {
    background-color: #337AB7;
}

.textkleur {
    color: white;
}

.nietActief {
    background-color: rgba(51,123,181, 0.6);
    color:white;
}

.nietActief2:hover {
    color: #337AB7;
    border-radius: 4px;
    padding: 2px;
    border-top: 6px solid white;
}


.hoverAntwoord:hover {
    background-color: #eee;
}

.kost6Antwoord {
    width:50%;min-height: 75px; float:left;padding: 20px 100px 20px 100px; background-color:white;
}

a h3.nietActief2.textkleur {
    margin: 0px;
    padding: 0px;
}

.verbergPijl {
    display: none;
}

.toonPijl {
    display: block;
}