.container {
    margin-top: 1%;
}

/*Wizard*/
.list-group-item.success,
.list-group-item.success:hover,
.list-group-item.success:focus {
    background-color: #7aba7b;
    border-color: #7aba7b;
    color: #ffffff;
}

.list-group-item.success > h4 {
    color: #ffffff;
}

.list-group-item.error,
.list-group-item.error:hover,
.list-group-item.error:focus {
    background-color: #d59392;
    border-color: #d59392;
    color: #ffffff;
}

.list-group-item.error > h4 {
    color: #ffffff;
}

.zonderBottomPadding {
    padding-bottom: 0px;
}

.groteAfbeeldingenInKnoppen {
    height: 100%;
    width: 100%;
}

.fototjeKosten {
    max-width: 30px;
    max-height: 30px;
    min-height: 30px;
}

.fototjeKosten3 {
    max-width: 40px;
    min-width: 40px;
    max-height: 40px;
    min-height: 40px;
}

.fototjeKosten2 {
    max-width: 20px;
    min-width: 20px;
    max-height: 20px;
    min-height: 20px;
}

.kleinePaddingLinks {
    padding-left:5px;
}

.marginTopMidden {
    margin-top: 25px;
}

.marginRechtsMidden {
    margin-right: 25px;
}

.glyphicon {
    color: #86b300;
}

.groeneKnop {
    background-color: #99CC00;
    border-color: #99CC00;
}

.groeneKnop.disabled:hover, .groeneKnop[disabled]:hover {
    background-color: #99CC00;
    opacity: 0.65;
    border-color: #99CC00;
}

.groeneKnop:hover, .groeneKnop:active, .groeneKnop:focus, .groeneKnop:active:focus {
    background-color: #86b300;
}

.groeneKnop:active:hover, .groeneKnop.active:hover, .open > .dropdown-toggle.groeneKnop:hover, .groeneKnop:active:focus, .groeneKnop.active:focus, .open > .dropdown-toggle.groeneKnop:focus, .groeneKnop:active.focus, .groeneKnop.active.focus, .open > .dropdown-toggle.groeneKnop.focus {
    color: #fff;
    background-color: #86b300;
    border-color: grey;
}

.groeneKnop:active:focus:hover:visited,
.groeneKnop:active:focus:hover,
.groeneKnop:active:focus:visited,
.groeneKnop:active:hover:visited,
.groeneKnop:focus:hover:visited,
.groeneKnop:active:focus,
.groeneKnop:active:hover,
.groeneKnop:active:visited,
.groeneKnop:focus:hover,
.groeneKnop:focus:visited,
.groeneKnop:hover:visited,
.groeneKnop:hover,
.groeneKnop:active,
.groeneKnop:focus,
.groeneKnop:visited {
    border-color: grey;
    box-shadow: none;
}

.transparantie {
    opacity: 0.8;
}