/* Tooltip container */
.tooltip {
    position: relative;
    /*display: inline-block;*/
    opacity: 1;
    z-index:auto;
    display:block;
}

/* Tooltip text bottom*/
.tooltip .tooltipBottomKnoppenHomeschermDoorPaginasBladeren {
    
    width: 350px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 4;
    top: 125%;
    left: 0%;
    margin-left: -60px;

    /* Fade in tooltip */
    
    
}

/* Tooltip text bottom*/
.tooltip .tooltipBottomMenuAnalyseKostInvullen {
    
    width: 350px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 4;
    top: 95%;
    left: 25%;
    margin-left: -60px;

    /* Fade in tooltip */
    
    
}

/* Tooltip text bottom*/
.tooltip .tooltipBottomAnalyseOverzichtWerkgeverAanpassen {
    
    width: 350px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 4;
    top: 125%;
    left: 20%;
    margin-left: -60px;

    /* Fade in tooltip */
    
    
}

/* Tooltip text bottom*/
.tooltip .tooltipBottomAnalyseInvullenVolgendePagina {
    
    width: 350px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 4;
    top: 125%;
    left: -54%;
    margin-left: -60px;

    /* Fade in tooltip */
    
    
}

/* Tooltip text bottom*/
.tooltip .tooltipBottomAnalyseOverzichtTableHoverBaten {
    
    width: 350px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 4;
    top: 12%;
    left: 10%;
    margin-left: -60px;

    /* Fade in tooltip */
    
    
}

/* Tooltip text bottom*/
.tooltip .tooltipBottomAnalyseOverzichtTableHoverKosten {
    
    width: 350px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 4;
    top: 12%;
    left: 75%;
    margin-left: -60px;

    /* Fade in tooltip */
    
    
}

/* Tooltip text top*/
.tooltip .tooltipTopIconenCards {
    
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 135%;
    left: 0%;
    margin-left: -60px;

    /* Fade in tooltip */
    
    
}

/* Tooltip text left*/
.tooltip .tooltipLeftHomePageDropdown {
    
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 5;
    top: 10px;
    right: 105%; 
    margin-left: -60px;

    /* Fade in tooltip */
    
    
}

/* Tooltip text left*/
.tooltip .tooltipLefAnalyseInvullenTabelAanpassenVerwijderen {
    
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 5;
    top: 1%;
    right: 120%; 
    margin-left: -60px;

    /* Fade in tooltip */
    
    
}

/* Tooltip text right*/
.tooltip .tooltipRightSidebar {
    
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 160%; 
    margin-left: -60px;

    /* Fade in tooltip */
    
    
}

/* Tooltip text right*/
.tooltip .tooltipRightSidebar2 {
    
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 185%; 
    margin-left: -60px;

    /* Fade in tooltip */
    
    
}

/* Tooltip text right*/
.tooltip .tooltipRightPlusIcoon {
    
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -50%;
    left: 400%; 
    margin-left: -60px;

    /* Fade in tooltip */
    
    
}

/* Tooltip text right*/
.tooltip .tooltipRightHomeKairosLogo {
    
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 145%; 
    margin-left: -60px;

    /* Fade in tooltip */
    
    
}

/* Tooltip text right*/
.tooltip .tooltipRightZoekInArchief {
    
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -60%;
    left: 80%; 
    margin-left: -60px;

    /* Fade in tooltip */
    
    
}

/* Tooltip arrow bottom*/
.tooltip .tooltipBottomKnoppenHomeschermDoorPaginasBladeren::after, .tooltip .tooltipBottomAnalyseOverzichtWerkgeverAanpassen::after, .tooltip .tooltipBottomAnalyseOverzichtTableHoverBaten::after, .tooltip .tooltipBottomAnalyseOverzichtTableHoverKosten::after, .tooltipBottomMenuAnalyseKostInvullen::after, .tooltip .tooltipBottomAnalyseInvullenVolgendePagina::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}


/* Tooltip arrow top*/
.tooltip .tooltipTopIconenCards::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Tooltip arrow right*/
.tooltip .tooltipRightSidebar::after,.tooltip .tooltipRightSidebar2:after, .tooltip .tooltipRightPlusIcoon::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

/* Tooltip arrow right*/
.tooltip .tooltipRightHomeKairosLogo::after, .tooltip .tooltipRightZoekInArchief::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

/* Tooltip arrow left*/
.tooltip .tooltipLeftHomePageDropdown::after, .tooltip .tooltipLefAnalyseInvullenTabelAanpassenVerwijderen::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; 
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

/* Show the tooltip text when you mouse over the tooltip container */

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.verbergTooltip {
    display: none;
}

.toonTooltip {
    display: block;
}

.tooltiptext {
    font-size: 18px;
}

.tooltipFadeIn {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: myFadeIn;
  animation-name: myFadeIn;
}

@-webkit-keyframes myFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes myFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.tooltipFadeOut {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: myFadeOut;
  animation-name: myFadeOut;
}

@-webkit-keyframes myFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes myFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}